#schedule {
	background-image: url('/img/2015_leap_bw.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#timeline {
	position: relative;
}

#timeline li {
	position: relative;
	padding: 5px 0;
}

#timeline li::before {
	display: block;
	position: absolute;
	content: '';
	width: 4px;
	height: calc(50%);
	left: calc(50% - 1px);
	top: 0;
	background-color: #e7f1f0;
}

#timeline li::after {
	display: block;
	position: absolute;
	content: '';
	width: 4px;
	height: calc(50%);
	left: calc(50% - 1px);
	top: calc(50%);
	background-color: #e7f1f0;
	z-index: 1;
}

#timeline li:first-child::before {
	display: none;
}

#timeline li:last-child::after {
	display: none;
}

.oipa {
	background-color: #cc2f44;
	margin-left: 0;
}

.oipa:hover {
	background-color: #d14356;
}

.wgi {
	background-color: #386374;
	margin-left: calc(50% + 50px);
}

.wgi:hover {
	background-color: #4b7281;
}

#timeline li .card {
	position: relative;
	cursor: pointer;
	width: calc(50% - 50px);
	transition: all .3s ease;
}

#timeline li .dot {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: calc(50% - 10px);
	right: calc(50% - 11px);
	border-radius: 50%;
	z-index: 2;
}

@media screen and (max-width:600px) {

	#timeline li::before, #timeline li::after {
		left: 16px;
	}

	.oipa, .wgi {
		margin-left: 40px;
	}

	#timeline li .card {
		width: calc(100% - 50px);
	}

	#timeline li .dot {
		left: 8px;
	}
}
