html {
	background-color: #000;
}

/*
 * Nav bar
 */
nav li:hover {
	background-color: #323337;
}

#cc-logo-circle {
	width: 200px;
	height: 200px;
	top: -100px;
	transition: background-color 0.3s;
}

#cc-logo {
	width: 60px;
	height: 70px;
	margin-top: 107px;
}

#cc-logo-container-small {
	display: inline-block;
}

#cc-logo-small {
	margin-top: 10px;
	width: 37px;
	height: 44px;
}

@media (max-width: 600px) {
	#cc-logo-small {
		margin-top: 3px;
	}
}

/*
 * Side nav
 */
#burger {
	margin-right: 20px;
}

.side-nav a {
	color: #e7f1f0 !important;
}

.side-nav li:hover {
	background-color: #323337;
}

/*
 * Main content
 */
#hero {
	background-image: url("../img/slider_bg.jpg");
	background-size: 100% 100%;
}

.indicators {
	padding: 10px 0 10px 0;
}

.slider .indicators .indicator-item.active {
	background-color: #cc2f44 !important;
}

#logo-outline {
	background-size: auto !important;
	background-repeat: no-repeat !important;
}

#mobile-hero img {
	width: 100%;
}

.coming-soon {
	min-height: 500px;
}
.coming-soon h5 {
	width: 100%;
	text-align: center;
}

/*
 * hard-code fix for btn-flat animation
 */
.btn-flat {
	transition: all 0.3s ease-out;
}
.btn-flat:hover {
	background-color: rgba(0,0,0,0.1);
}

/*
 * Staff page
 */
.collection .collection-item.avatar {
	min-height: 0 !important;
}

#detail-image {
	float: left;
}

#detail-name-group {
	padding-left: 174px;
}

@media only screen and (max-width: 600px) {
	#detail-name-group {
		padding-left: 0;
	}
}

/*
 * Custom input colors - blue background
 */
/* label focus color */
.cap-blue .input-field input:focus + label, .cap-blue .input-field textarea:focus + label {
	color: #78eff7 !important;
}

/* label underline focus color */
.cap-blue .input-field input:focus, .cap-blue .input-field textarea:focus {
	border-bottom: 1px solid #78eff7 !important;
	box-shadow: 0 1px 0 0 #78eff7 !important;
}

/* valid color */
.cap-blue .input-field input.valid {
	border-bottom: 1px solid #e7f1f0 !important;
	box-shadow: 1px solid #e7f1f0 !important;
}

/* invalid color */
.cap-blue .input-field input.invalid {
	border-bottom: 1px solid #cc2f44 !important;
	box-shadow: 0 1px 0 0 #cc2f44 !important;
}

/*
 * Social media icons
 */
.social-media {
	margin: 0 20px;
}

/*
 * Typography
 */
.thin-text {
	font-weight: 200;
	font-size: 1.2rem;
}

/*
 * Custom input colors - white background
 */
/* label focus color */
.white .input-field input:focus + label, .white .input-field textarea:focus + label {
	color: #323337 !important;
}

/* label underline focus color */
.white .input-field input:focus, .white .input-field textarea:focus {
	border-bottom: 1px solid #323337 !important;
	box-shadow: 0 1px 0 0 #323337 !important;
}

/* valid color */
.white .input-field input.valid {
	border-bottom: 1px solid #323337 !important;
	box-shadow: 1px solid #323337 !important;
}

/* invalid color */
.white .input-field input.invalid {
	border-bottom: 1px solid #cc2f44 !important;
	box-shadow: 0 1px 0 0 #cc2f44 !important;
}

/*
 * Custom color classes
 */
.cap-red { background-color: #cc2f44 !important; }
.cap-blue { background-color: #386374 !important; }
.cap-light-blue { background-color: #78eff7 !important; }
.cap-white { background-color: #e7f1f0 !important; }
.cap-black { background-color: #323337 !important; }
.cap-grey { background-color: #8D9294 !important; }
.cap-green { background-color: #26a65b !important; }
.cap-red-darken { background-color: #b82a3d !important; }

.cap-red-text { color: #cc2f44 !important; }
.cap-blue-text { color: #386374 !important; }
.cap-light-blue-text { color: #78eff7 !important; }
.cap-white-text { color: #e7f1f0 !important; }
.cap-black-text { color: #323337 !important; }
.cap-grey-text { color: #8D9294 !important; }
.cap-green-text { color: #26a65b !important; }
.cap-red-text-darken { color: #b82a3d !important; }
