html {
	background-color: #000;
}

/*
 * Nav bar
 */
nav li:hover {
	background-color: #323337;
}

#cc-logo-circle {
	width: 200px;
	height: 200px;
	top: -100px;
}

#cc-logo {
	width: 60px;
	height: 70px;
	margin-top: 107px;
}

#cc-logo-container-small {
	display: inline-block;
}

#cc-logo-small {
	margin-top: 10px;
	width: 37px;
	height: 44px;
}

@media (max-width: 600px) {
	#cc-logo-small {
		margin-top: 3px;
	}
}

/*
 * Side nav
 */
#burger {
	margin-right: 20px;
}

.side-nav a {
	color: #e7f1f0 !important;
}

.side-nav li:hover {
	background-color: #323337;
}

/*
 * Social media icons
 */
.social-media {
	margin: 0 20px;
}

/*
 * Custom color classes
 */
.cap-red { background-color: #cc2f44 !important; }
.cap-blue { background-color: #386374 !important; }
.cap-light-blue { background-color: #78eff7 !important; }
.cap-white { background-color: #e7f1f0 !important; }
.cap-black { background-color: #323337 !important; }
.cap-grey { background-color: #8D9294 !important; }

.cap-red-text { color: #cc2f44 !important; }
.cap-blue-text { color: #386374 !important; }
.cap-light-blue-text { color: #78eff7 !important; }
.cap-white-text { color: #e7f1f0 !important; }
.cap-black-text { color: #323337 !important; }
.cap-grey-text { color: #8D9294 !important; }
